.main-bg{
  width:100%;
  height:100vh;
  background: url(/../../assets/img/main-bg-image.svg) no-repeat;
  background-position: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-size:cover;
  overflow:hidden;
  z-index:1;
}

.main-bg-div{
  z-index:3;
}

.content{
  margin:0 auto;
}

.blue-bg{
  position:fixed;
  width:100%;
  height:100%;
  background-image: linear-gradient(#111322,#2e314e);
  opacity:0.4;
  z-index:2;
}

.menu{
  display:flex;
}

.header{
  display:flex;
  justify-content: space-between;
  padding:20px;
  opacity: .6;
  z-index: 3;
}

.translate{
  display:flex;
  color:#fff;
}

.kazakh,.russian{
  display:block;
  z-index:2;
}

.kazakh:hover,.russian:hover,.period:hover,.about-text:hover{
  cursor:pointer;
}

.kazakh{
  margin:0 20px;
}

.title{
  display:flex;
  flex-direction: column;
  /*margin:0 0 50px 90px;*/
}

.title_kk{
  display:flex;
  flex-direction: column;
  /*margin:0 0 50px 100px;*/
}

.epoch img{
  padding-left:10px;
}

.epoch_kk{
  width:80%;
  display:flex;
  justify-content: center;
}

.epoch_kk img{
  margin-bottom:4px;
  padding-left:0px;
  margin-left:3px;
}

.independent img{
  width:600px;
}

.independent_kk img{
  width:450px;
}

.book-information{
  display:flex;
}

.book{
  width:65%;
}

.about-text{
  color:yellow;
  font-weight:bold;
  font-size:13px;
  display:block;
  margin-left:12px;
}

.book img{
  width:100%;
}

.citate{
  width:220px;
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-size:14px;
  margin-left:-40px;
}

.sign{
  text-align:end;
  margin-top:12px;
}

.period-cards{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.book-citate{
  display:flex;
}

.period{
  display:flex;
  color:#fff;
  margin-bottom:40px;
  justify-content: flex-end;
}

.period-index{
  padding-right:38px;
  font-size:40px;
  line-height:1;
  font-family:"Bebas Neue";
}

.period-text{
  display:flex;
  flex-direction: column;
  font-size:14px;
  width:60%;
}

.period-year{
  color:#DFB93A;
}

.yellow{
  color:yellow;
}

.modal-menu{
  position: fixed;
  border-radius:inherit;
  width:100%;
  background-color:white;
  top:0;
  left:0;
  z-index:5;
  color:#000;
}

.modal-menu-div,.modal-menu,.modal-description{
  height:100%;
}

.modal-description{
  margin:0 auto;
  display:flex;
  align-items:center;
}

.close-btn{
  position: fixed;
  top:30px;
  left:32px;
}

.about-text-modal{
  color:#000;
  font-size:30px;
  font-weight:300;
}

.modal-text span{
  font-size:15px;
}

.book-modal img{
  width:450px;
}

@media screen and (max-width:992px){
  .modal-description{
    flex-direction:column;
    overflow:auto;
  }

  /*.main-bg,.blue-bg{*/
    /*height:auto;*/
  /*}*/

  .about-text-modal{
    text-align:center;
  }

  .book-modal img{
    width:300px;
  }

  .book-information{
    flex-direction:column-reverse;
  }

  .book-citate{
    justify-content: space-around;
  }

  .book{
    width:300px;
  }

  .period-cards{
    flex-direction:row;
    flex-wrap:wrap;
  }

  .period{
    width:50%;
    justify-content: center;
    margin-bottom:25px;
  }

  .period-cards{
    margin-top:10px;
  }
}

@media screen and (max-width:768px){
  .book-modal img{
    width:300px;
  }

  .epoch_kk{
    justify-content: flex-start;
    width:100%
  }

  .book{
    width:200px;
  }

  .epoch img,.epoch_kk img{
    width:140px;
  }

  .independent img{
    padding-left:5px;
    width:400px;
  }

  .independent_kk img{
    padding-left:5px;
    width:350px;
  }
}

@media screen and (max-width:576px){
  .book-modal{
    margin-top:30px;
  }

  .epoch img{
    width:130px;
  }

  .book{
    width:30%;
  }

  .citate{
    width:55%;
    font-size:10px;
  }

  .period{
    width:100%;
  }

  .kazakh{
    margin:0 5px;
  }

  .period-text{
    font-size:10px;
    width:75%;
  }

  .period-index{
    padding-right:20px;
    font-size:25px;
  }

  .independent img,.independent_kk img{
    padding-left:5px;
    width:280px;
  }

  .book-modal img{
    width:200px;
  }

  .modal-text span{
    font-size:13px;
  }

  .about-text-modal{
    font-size:25px;
  }

  .close-btn{
    top:15px;
    left:15px;
  }
}

