<div class="blue-bg"></div>
<div class="main-bg">
  <div class="header">
    <div class="menu">
      <img src="../../assets/img/menu_button_yellow.svg" alt="" (click)="showMenu()">
      <span *ngIf="language == 1" class="about-text" (click)="showMenu()">О книге</span>
      <span *ngIf="language == 2" class="about-text" (click)="showMenu()">Кітап туралы</span>
    </div>
    <div class="translate">
      <span class="russian" [ngClass]="{'yellow':language == 1}" (click)="changeLang('ru')">Русский</span>
      <span class="kazakh" [ngClass]="{'yellow':language == 2}" (click)="changeLang('kk')">Қазақша</span>
    </div>
  </div>
  <div class="title" *ngIf="language == 1">
    <div class="epoch animated fadeInDown">
      <img src="../assets/img/Эра.svg">
    </div>
    <div class="independent animated fadeInUp">
      <img src="../assets/img/Независимости.png">
    </div>
  </div>
  <div class="title_kk" *ngIf="language == 2">
    <div class="independent_kk animated fadeInUp">
      <img src="../../assets/img/kk_independence.svg">
    </div>
    <div class="epoch_kk animated fadeInDown">
      <img src="../../assets/img/kk_era.svg">
    </div>
  </div>
  <div class="cards">
    <div *ngFor="let card of list_of_cards;let i = index" (click)="showData(card)">
      <div class="card card-big fadeInUp animated local-card">
        <div class="line-blue"></div>
        <div class="local-card-div">
          <div *ngIf="language == 1" class="card-image" [ngStyle]="{'background-image':'linear-gradient(0deg,rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0)),url('+card.image_url+')'}">
            <span>{{card.name_ru}}</span>
          </div>
          <div *ngIf="language == 2" class="card-image" [ngStyle]="{'background-image':'linear-gradient(0deg,rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0)),url('+card.image_url+')'}">
            <span>{{card.name_kk}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 modal-show" *ngIf="show" (click)="overlayClicked($event)">
  <div class="modal-show-content" #modal>
      <button type="button" class="close" (click)="closeModal()">
        <img src="../../assets/img/plus.svg" alt="">
      </button>

    <div class="modal-div-center w-100 h-100">
      <iframe *ngIf="language == 1" [src]="sanitizer.bypassSecurityTrustResourceUrl(modal_object[iframe_path])" class="iframe-panel" frameborder="0"></iframe>
      <iframe *ngIf="language == 2" [src]="sanitizer.bypassSecurityTrustResourceUrl(modal_object[iframe_path])" class="iframe-panel" frameborder="0"></iframe>
    </div>
    </div>
  </div>

  <div class="navigation-panel container-fluid">
    <div class="initialslide">{{initialSlide}}</div>

    <div *ngIf="language == 1" class="line col-12">
      <div class="goTo-div col-3" data-distance="0" (click)="sendVal(0)">
        <div class="goTo" data-distance="0">
          <span>1991 - 1995 ж</span>
          <span>Рождение нашего государства. Первое возрождение Казахстана </span>
        </div>
      </div>

      <div class="goTo-div col-3" data-distance="6" (click)="sendVal(6)">
        <div class="goTo" data-distance="6" (click)="sendVal(6)">
          <span>1996 - 1999 ж</span>
          <span>НАЧАЛО ВТОРОЙ ВАРИАНТА ВТОРОЙ ГЛОБАЛЬНОЙ ПЕЧАТИ КАЗАХСТАНА</span>
        </div>
      </div>

      <div class="goTo-div col-3" data-distance="13" (click)="sendVal(13)">
        <div class="goTo" data-distance="13" (click)="sendVal(13)">
          <span>2000 - 2010 ж</span>
          <span>ГИДРАВЛИЧЕСКИЙ КРЕМ. ВТОРАЯ НИЖНЯЯ ЧАСТЬ КАЗАХСТАНА</span>
        </div>
      </div>
      <div class="goTo-div col-3" data-distance="16" (click)="sendVal(16)">
        <div class="goTo" data-distance="16" (click)="sendVal(16)">
          <span>2000 ж</span>
          <span>Установленное состояние. ТРЕТИЙ УРОВЕНЬ КАЗАХСТАНА</span>
        </div>
      </div>
    </div>

    <div *ngIf="language == 2" class="line col-12">
      <div class="goTo-div col-3" data-distance="0" (click)="sendVal(0)">
        <div class="goTo" data-distance="0" (click)="sendVal(0)">
          <span>1991 - 1995 ж</span>
          <span>Мемлекетіміздің дүниеге келуі. Қазақстанның бірінші жаңғыруы</span>
        </div>
      </div>
      <div class="goTo-div col-3" data-distance="6" (click)="sendVal(6)">
        <div class="goTo" data-distance="6" (click)="sendVal(6)">
          <span>1996 - 1999 ж</span>
          <span>ҰЛЫ БЕТБҰРЫС.ҚАЗАҚСТАННЫҢ ЕКІНШІ ЖАҢҒЫРУЫНЫҢ БАСТАЛУЫ</span>
        </div>
      </div>
      <div class="goTo-div col-3" data-distance="13" (click)="sendVal(13)">
        <div class="goTo" data-distance="13" (click)="sendVal(13)">
          <span>2000 - 2010 ж</span>
          <span>ҚИЯҒА ҚҰЛАШ СЕРМЕУ. ҚАЗАҚСТАННЫҢ ЕКІНШІ ЖАҢҒЫРУЫ</span>
        </div>
      </div>
      <div class="goTo-div col-3" data-distance="16" (click)="sendVal(16)">
        <div class="goTo" data-distance="16" (click)="sendVal(16)">
          <span>2000 ж</span>
          <span>ҚАЛЫПТАСҚАН МЕМЛЕКЕТ. ҚАЗАҚСТАННЫҢ ҮШІНШІ ЖАҢҒЫРУЫ</span>
        </div>
      </div>
    </div>

    <div class="modal-menu modal-show" [hidden]="!menupanel">
      <div class="modal-menu-div modal-show-content" [ngClass]="{'animated fadeIn': menupanel}" #menu>
        <div class="close-btn" (click)="showMenu()">
          <img src="../../assets/img/plus-yellow.svg" alt="">
        </div>
        <div class="modal-description-div col-10">
          <div class="book-modal">
            <img src="../../assets/img/book-2.svg" alt="">
          </div>
          <div class="modal-text">
            <h4 *ngIf="language == 1" class="about-text-modal">О книге</h4>
            <h4 *ngIf="language == 2" class="about-text-modal">Кітап туралы</h4>
            <span *ngIf="language == 1">{{modal_text_ru}}</span>
            <span *ngIf="language == 2">{{modal_text_kk}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
